---
---
@import "variables";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

html {
  font-size: 100%;
}

.full-height-image {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.half-height-image {
  height: 50vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.full-height-image {
    //background-image: url($full_width_image);
    background-repeat: no-repeat;
    background-size: cover;
}

.half-height-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.posts-list:hover {
    background-color: #dce6f5 !important;
    img {
        opacity: 0.6;
    }
}


.deneme:hover {
    background-color: #dce6f5 !important;
}

a {
    text-decoration: none !important;
}
