<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color sticky-top scrolling-navbar" style="opacity: 0.97;z-index: 999;">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="{{site.url}}">{{site.site_name}}</a>

  <!-- Collapse button -->
  <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon1"><span></span><span></span><span></span></div>
  </button>

    <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent20">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{site.url}}">Ana Sayfa
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/teorik_altyapi">Teorik Altyapı</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/research">Research</a>
      </li>

    </ul>
    <!-- Links -->

  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
