{% assign include_image_src = include.image_src %}

{% for post in include.all_posts %}
    {% unless post.title == "Index" %}
        {% if include_image_src.first %}
            {% assign current_image_src = include_image_src[forloop.index0] %}
        {% else %}
            {% assign current_image_src = include_image_src %}
        {% endif %}
        
        {% assign href_url = {{site.url}} | append: {{post.url}} %}

        <div class="col-lg-11 lg-ml-5">
            <div class="card card-cascade">
                <div class="view overlay zoom">
                    <div class="view view-cascade overlay">
                        <img class="card-img-top img-fluid" src="{{current_image_src}}" alt="Kategori fotoğrafı"
                             style="height: 40vh">
                        <a href="{{href_url}}"> <div class="mask rgba-white-slight"></div> </a>
                </div>
            </div>
            
                <div class="card-body card-body-cascade post-info">
                    <a href="{{href_url}}">
                        <h4 class="card-title"><strong>{{post.title}}</strong></h4>
                    </a>
                    <!-- Linkedin -->
                    <i class="far fa-user"> {{post.author}}</i> &nbsp;
                    <i class="far fa-clock"> {{post.date | date: "%d/%m/%Y"}} </i> &nbsp;
                    <i class="far fa-folder"> {{post.categories}}</i>
            
                    <h6 class="card-text">{{post.excerpt}}</p>
                    <a class="btn btn-primary btn-sm" href="{{href_url}}">Okumaya devam et</a>
                </div>
            
            </div>
            <hr>
            
        </div>
    {% endunless %}
{% endfor %}
