{% for post in include.all_posts %}
    {% unless post.title == "Index" %}

        {% if include.image_src.first %}
            {% assign current_image_src = include.image_src[forloop.index0]}
        {% else %}
            {% assign current_image_src = include.image_src %}
        {% endif %}

        {% assign href_url = {{site.url}} | append: "/" | append: {{post.url}} %}
        
            <div class="card card-cascade mt-3">
                <div class="view overlay zoom">
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{current_image_src}}" alt="Kategori fotoğrafı">
                        <a href="{{href_url}}"> <div class="mask rgba-white-slight"></div> </a>
                </div>
            </div>
            
                <div class="card-body card-body-cascade post-info">
                    <a href="{{href_url}}">
                        <h4 class="card-title"><strong>{{post.title}}</strong></h4>
                    </a>
                    <!-- Linkedin -->
                    <i class="far fa-user"> {{post.author}}</i> &nbsp;
                    <i class="far fa-clock"> {{post.date | date: "%d/%m/%Y"}} </i> &nbsp;
                    <i class="far fa-folder"> {{post.categories}}</i>

                    <p class="card-text">{{post.excerpt}}</p>
                    <a class="btn blue-gradient btn-sm" href="{{href_url}}">Okumaya devam et</a>
                </div>
            
            </div>
            <hr>
    {% endunless %}
{% endfor %}
