
<div class="col-lg-7 side-posts">
    <p class="border-left border-primary right-column-title"> &nbsp; Yakın Zamanda Yayınlananlar</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>

<br>

<div class="col-lg-5 side-posts">
    <p class="border-left border-primary right-column-title"> Hakkımda</p>

    <div class="avatar mx-auto white">
        <br>
        <img src="{{site.url}}/assets/img/resized_3.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
        <p class="text-center teal-text">KIVANÇ YÜKSEL</p> 
        {% include svg-icons.html %}
    </div>
</div>

