{% assign all_posts = '' | split: '' %}
{% for collection in site.collections %}
    {% assign name = collection.label %}
    {% unless name == "posts" %}
        {% assign all_posts = all_posts | concat: site[name] %}
    {% endunless %}
{% endfor %}

{% assign all_posts = all_posts | reverse %}


<div class="col-lg-7 side-posts">
    <p class="border-left border-primary right-column-title"> &nbsp; Yakın Zamanda Yayınlananlar</p>
    <ul class="list-group list-group-flush">
        {% for i in (0.. 5) %}
            {% assign post = all_posts[i] %}
            {% unless post.title == "Index" %}
                <a href="{{site.url}}{{post.url}}">
                    <li class="list-group-item">{{post.title}}</li>
                </a>
            {% endunless %}
        {% endfor %}
    </ul>
</div>

<br>

<div class="col-lg-5 side-posts">
    <p class="border-left border-primary right-column-title"> Hakkımda</p>

    <div class="avatar mx-auto white">
        <br>
        <img src="{{site.url}}/assets/img/resized_3.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
        <p class="text-center teal-text">KIVANÇ YÜKSEL</p> 
        {% include svg-icons.html %}
    </div>
</div>

{% include ads_kare.html %}
