<!--Facebook-->
{% if site.footer-links.facebook %}
<a class="btn-floating btn-lg btn-fb social-button"
   href="https://www.facebook.com/{{ site.footer-links.facebook }}" 
   target="_blank" rel="noopener noreferrer"
   type="button" role="button"><i class="fab fa-facebook-f"></i></a>
{% endif %}

<!--Twitter-->
{% if site.footer-links.twitter %}
<a class="btn-floating btn-lg btn-tw social-button" 
   href="https://www.twitter.com/{{ site.footer-links.twitter }}" 
   target="_blank" rel="noopener noreferrer" 
   type="button" role="button"><i class="fab fa-twitter"></i></a>
{% endif %}

<!--Linkedin-->
{% if site.footer-links.linkedin %}
<a class="btn-floating btn-lg btn-li social-button" 
   href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" 
   target="_blank" rel="noopener noreferrer" 
   type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
{% endif %}

<!--Instagram-->
{% if site.footer-links.instagram %}
<a class="btn-floating btn-lg btn-ins social-button" 
   href="https://instagram.com/{{ site.footer-links.instagram }}" 
   target="_blank" rel="noopener noreferrer" 
   type="button" role="button"><i class="fab fa-instagram"></i></a>
{% endif %}
<!--Youtube-->
{% if site.footer-links.youtube %}
<a class="btn-floating btn-lg btn-yt social-button" 
   href="https://youtube.com/{{ site.footer-links.youtube }}" 
   target="_blank" rel="noopener noreferrer"
   type="button" role="button"><i class="fab fa-youtube"></i></a>
{% endif %}
<!--Github-->
{% if site.footer-links.github %}
<a class="btn-floating btn-lg btn-git social-button" 
   href="https://github.com/{{ site.footer-links.github }}" 
   target="_blank" rel="noopener noreferrer"
   type="button" role="button"><i class="fab fa-github"></i></a>
{% endif %}
