---
frame_image: "/assets/img/full_width_image.jpg"
---

<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/styles.css" />
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/app.css" /> -->
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml" /> -->
  </head>

  <body>
        {% include frame.html %}

    <!-- <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.url }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.url }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.url }}/">Blog</a>
            <a href="{{ site.url }}/about">About</a>
          </nav>
        </header>
      </div>
    </div> -->
        <div class="row mt-5">
            <div class="col-lg-3 
                        d-none
                        d-lg-block
                "></div>
            <div class="col-lg-6 col-sm-12">
                {{content}}
            </div>
            <div class="col-lg-3 
                        d-none
                        d-lg-block
                "></div>
        </div>

    <!-- <div class="grid-x" style="margin-top: 50px">
        <div class="cell large-2 medium-2 hide-for-small-only">For now empty</div>
        <div class="cell large-8 medium-8 small-12">{{content}}</div>
        <div class="cell large-2 medium-2 hide-for-small-only">For now empty</div>
    </div> -->

    <!-- <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div> -->
        <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true } });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    </body>
</html>
